@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #20486e;
  --secondary-color: #ef8120;
  --color-heading: #253237;
}

body {
  background: white;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: "DM Sans", sans-serif;
}

span {
  color: var(--secondary-color);
}

input,
button,
select,
textarea {
  border: 0;
  outline: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}